#jumbotron-text {
	color:white;
	background-color: transparent;


}
body {
	background-image: url("/img/manhaj_at_tulabb.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.audioplayer {
	height: 80%;
	width: 80%;
}